* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #181a1b;
  overscroll-behavior-y: contain;
}

#canvas1 {
  display: none;
  border: 5px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  font-family: "Creepster", cursive;
}

#gem,
#ice,
#dog,
#boy,
#girl,
#fire,
#blast,
#lives,
#player,
#layer1,
#layer2,
#layer3,
#layer4,
#layer5,
#fireBar,
#enemyFly,
#enemyBoss,
#enemyPlant,
#enemySpider,
#collisionAnimation {
  display: none;
}

#fullScreenButton {
  display: none;
  position: absolute;
  font-family: "Creepster", cursive;
  font-size: 16px;
  padding: 10px;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
}

#loading {
  color: white !important;
  position: absolute;
  font-size: 1.5rem;
  font-family: Arial, "Creepster", cursive;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
